:root{
    --input-color:rgb(48, 138, 212);
    --border-color:rgb(48, 138, 212);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.box{
    position: relative;
    width: 558px;
    height: 554px;
    border: solid 0.1em var(--border-color);
}
.form{
    height: 328px;
    display: flex;
    justify-content: left;
    align-items: left;
    position: relative;
    border-radius: 8px;
    z-index: 10;
    padding: 0px 40px;
    flex-direction: column;
}
.inputBox1 span{
    padding-block: 9px;
    padding-inline: 25px;
    border: solid 0.1em blue;
    background-color: var(--input-color);
    color: aliceblue;
    margin-right: 11px;
}
.inputBox1 i{
    font-size: large;
    color: red;
}
.inputBox2 i{
    font-size: large;
    color: red;
}
.inputBox4 i{
    font-size: large;
    color: red;
}
.selectbox i{
    font-size: large;
    color: red;
}
.input1{
    height: 39px;
    width: 300px;
    text-size-adjust: 100%;
    border-bottom: solid 0.2em var(--border-color);
    border-top: solid 0.2em var(--border-color);
    border-left: solid 0.2em var(--border-color);
    border-right: solid 0.2em var(--border-color);
}
.input2{
    height: 39px;
    margin: 10px 19px 10px;
}
.input3{
    height: 39px;
    border-bottom: solid 0.2em var(--border-color);
    border-top: solid 0.2em var(--border-color);
    border-left: solid 0.2em var(--border-color);
    border-right: solid 0.2em var(--border-color);
}
.inputBox2{
   padding: 0px 0px 6px 34px;
}
.inputBox2_confirm{
    padding: 32px 0px 8px 34px;
 }
.inputBox2 input{
    visibility: hidden;
}
.inputBox2 input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: 24px;
    left: -1px;
    position: relative;
    background-color: rgb(234, 241, 233);
    content: '';
    display: inline-block;
    visibility: visible;
    border: 0.2px solid blue;
}

.inputBox2 input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: 24px;
    left: -1px;
    position: relative;
    background-color: var(--input-color);
    content: '';
    display: inline-block;
    visibility: visible;
    border: 0.2px solid blue;
}
.inputBox4{
    padding: 15px 0px 6px 0px;
 }
.inputBox4 span{
    padding-block: 9px;
    padding-inline: 25px;
    border: solid 0.1em blue;
    background-color: var(--input-color);
    color: aliceblue;
    margin-right: 11px;
}
.input4{
    height: 39px;
    width: 146px;
    text-size-adjust: 100%;
    border-bottom: solid 0.2em var(--border-color);
    border-top: solid 0.2em var(--border-color);
    border-left: solid 0.2em var(--border-color);
    border-right: solid 0.2em var(--border-color);
}
.inputBox5{
    padding: 15px 0px 6px 0px;
 }
.inputBox5 span{
    padding-block: 9px;
    padding-inline: 38px;
    border: solid 0.1em blue;
    background-color: var(--input-color);
    color: aliceblue;
    margin-right: 16px;
}
.input5{
    height: 39px;
    width: 300px;
    text-size-adjust: 100%;
    border-bottom: solid 0.2em var(--border-color);
    border-top: solid 0.2em var(--border-color);
    border-left: solid 0.2em var(--border-color);
    border-right: solid 0.2em var(--border-color);
}
.gender{
    border: solid 0.1em blue;
    background-color: var(--input-color);
    color: aliceblue;
    margin-right: 13px;
    padding-block: 9px;
    padding-inline: 31px;
    margin-left: -34px;
}
.boxbt{
    padding-top: 34px;
}
.boxbt :hover{
    opacity: 0.8;
}
.bt{
    position: relative;
    width: 141px;
    height: 44px;
    border: solid 0.1em blue;
    border-radius: 8px;
    cursor: pointer;
    background-color: var(--input-color);
    color: aliceblue;
    margin-left: 171px;
}
.selectbox{
    padding: 23px 0px 6px 34px;
 }
.pk{
    border: solid 0.1em blue;
    background-color: var(--input-color);
    color: aliceblue;
    margin-right: 11px;
    padding-block: 9px;
    padding-inline: 24px;
    margin-left: -34px;
}
.error{
    height: 100px;
    width: 100%;
    color: red;
    padding-left: 31px
}
.inputBox6_img{
    margin-top: 24px;
}
.inputBox6_img span{
    padding-block: 10px;
    padding-inline: 33px;
    border: solid 0.1em blue;
    background-color: var(--input-color);
    color: aliceblue;
    margin-right: 16px;
}
.inputBox6_img input[type='file']{
    display: initial;
}

/* CSS FOR CONFIRM PAGE */

.box_confirm{
    position: relative;
    width: 515px;
    height: auto;
    border: solid 0.1em var(--border-color);
}
.form_confirm{
    height: auto;
    display: flex;
    justify-content: left;
    align-items: left;
    position: relative;
    border-radius: 8px;
    z-index: 10;
    padding: 25px 40px;
    flex-direction: column;
}

.inputBox1_confirm span{
    padding-block: 9px;
    padding-inline: 25px;
    border: solid 0.1em blue;
    background-color: rgb(76, 175, 62);
    color: aliceblue;
    margin-right: 11px;
}
.inputBox1_confirm p{
    margin:-20px -12px 5px 135px
}
.gender_confirm{
    border: solid 0.1em blue;
    background-color: rgb(76, 175, 62);
    color: aliceblue;
    margin-right: 18px;
    padding-block: 9px;
    padding-inline: 29px;
    margin-left: -34px;
}
.inputBox4_confirm{
    padding: 28px 0px 6px 0px;
 }
.inputBox4_confirm span{
    padding-block: 9px;
    padding-inline: 25px;
    border: solid 0.1em blue;
    background-color: rgb(76, 175, 62);
    color: aliceblue;
    margin-right: 11px;
}
.inputBox4_confirm{
    text-size-adjust: 100%;
}
.inputBox4_confirm p{
    margin:-20px -12px 5px 135px
}

.inputBox5_confirm{
    padding: 28px 0px 0px 0px;
 }
.inputBox5_confirm span{
    padding-block: 9px;
    padding-inline: 36px;
    border: solid 0.1em blue;
    background-color: rgb(76, 175, 62);
    color: aliceblue;
    margin-right: 12px;
}
.inputBox5_confirm{
    text-size-adjust: 100%;
}
.inputBox5_confirm p{
    margin:-20px -12px 0px 135px
}

.selectbox_confirm{
    padding: 23px 0px 6px 34px;
 }
.pk_confirm{
    border: solid 0.1em blue;
    background-color: rgb(76, 175, 62);
    color: aliceblue;
    margin-right: 20px;
    padding-block: 9px;
    padding-inline: 22px;
    margin-left: -34px;
}

.inputBox6_img_confirm{
    margin-top: 29px;   
    align-items: center;
    display: flex;
    margin-right: 238px;
}
.inputBox6_img_confirm span{
    padding-block: 10px;
    padding-inline: 28px;
    border: solid 0.1em blue;
    background-color: rgb(76, 175, 62);
    color: aliceblue;
    margin-right: -20px;
}
.inputBox6_img_confirm input[type='file']{
    display: initial;
}
.inputBox6_img_confirm img{
    margin:auto;
    height: 50px;
    width:50px;
}
