*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.box{
    position: relative;
    width: 600px;
    height: 381px;
    border: solid 0.1em rgb(56, 149, 183, 1);
}
.form{
    height: 328px;
    display: flex;
    justify-content: left;
    align-items: left;
    position: relative;
    border-radius: 8px;
    z-index: 10;
    padding: 50px 40px;
    flex-direction: column;
}
.inputBox1 span{
    padding-block: 9px;
    padding-inline: 28px;
    border: solid 0.1em blue;
    background-color: rgb(56, 149, 183, 1);
    color: aliceblue;
    margin-right: 11px;
}
.input1{
    height: 39px;
    width: 300px;
    text-size-adjust: 100%;
    border-bottom: solid 0.2em rgb(56, 149, 183, 1);
    border-top: solid 0.2em rgb(56, 149, 183, 1);
    border-left: solid 0.2em rgb(56, 149, 183, 1);
    border-right: solid 0.2em rgb(56, 149, 183, 1);
}
.input2{
    height: 39px;
    margin: 10px 19px 10px;
}
.input3{
    height: 39px;
    border-bottom: solid 0.2em rgb(56, 149, 183, 1);
    border-top: solid 0.2em rgb(56, 149, 183, 1);
    border-left: solid 0.2em rgb(56, 149, 183, 1);
    border-right: solid 0.2em rgb(56, 149, 183, 1);
}
.inputBox2{
   padding: 34px;
}
.gender{
    border: solid 0.1em blue;
    background-color: rgb(56, 149, 183, 1);
    color: aliceblue;
    margin-right: 8px;
    padding-block: 9px;
    padding-inline: 34px;
    margin-left: -34px;
}
.boxbt{
    position: relative;
    width: 141px;
    height: 44px;
    border: solid 0.1em blue;
    border-radius: 8px;
    cursor: pointer;
    background-color: rgb(19, 156, 31);
    color: aliceblue;
    margin-left: 171px;
}
.selectbox{
    padding: 34px;
 }
.pk{
    border: solid 0.1em blue;
    background-color: rgb(56, 149, 183, 1);
    color: aliceblue;
    margin-right: 8px;
    padding-block: 9px;
    padding-inline: 27px;
    margin-left: -34px;
}