*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.container{
    height: auto;
    width: 68%;
}
.search{
    margin: 10px 0px 0px 70px;
}
.search_khoa select{
    height: 39px;
    width: 300px;
    background-color: rgb(206, 218, 248);
    text-size-adjust: 100%;
    border-bottom: solid 0.2em rgb(56, 149, 183, 1);
    border-top: solid 0.2em rgb(56, 149, 183, 1);
    border-left: solid 0.2em rgb(56, 149, 183, 1);
    border-right: solid 0.2em rgb(56, 149, 183, 1);
}
.search_khoa label{
    margin-right: 77px;
}
.search_keyword_area{
    margin-top: 10px;
}
.search_keyword_area input{
    height: 39px;
    width: 300px;
    text-size-adjust: 100%;
    background-color: rgb(206, 218, 248);
    border-bottom: solid 0.2em rgb(56, 149, 183, 1);
    border-top: solid 0.2em rgb(56, 149, 183, 1);
    border-left: solid 0.2em rgb(56, 149, 183, 1);
    border-right: solid 0.2em rgb(56, 149, 183, 1);
}
.search_keyword_area label{
    margin-right: 55px;
}
.search_btn input{
    margin: 10px -81px 0px 105px;
    height: 43px;
    width: 152px;
    border: 2px solid rgb(41, 92, 235);
    border-radius: 8px;
    background-color: rgb(56, 149, 183, 1);
    color: aliceblue;
    cursor: pointer;
}
.show {
    margin: 10px 0px 10px 10px;

}
.add_btn input{
    margin-left: 85%;
    height: 39px;
    width: 106px;
    border: 2px solid rgb(41, 92, 235);
    border-radius: 8px;
    background-color: rgb(56, 149, 183, 1);
    color: aliceblue;
    cursor: pointer;
}
.add_btn input :hover{
    opacity: 0.8;
}
.show_edit_info td,th{ 
    text-align: left;
    padding: 0px 0px 10px 6px;
}
.show_edit_info tr {
    margin: 0px 0px 10px 0px;
}
.show_edit_info td input{
    
    border: 1px solid rgb(41, 92, 235);
    height: 33px;
    width: 50px;
    background-color: rgb(159, 184, 247);
    color: aliceblue;
    cursor: pointer;
    border-bottom: solid 0.2em rgb(56, 149, 183, 1);
    border-top: solid 0.2em rgb(56, 149, 183, 1);
    border-left: solid 0.2em rgb(56, 149, 183, 1);
    border-right: solid 0.2em rgb(56, 149, 183, 1);
}
.show_edit_info td input :hover{
    opacity: 0.8;
}