:root{
    --btncolor:rgb(110, 240, 160);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box_questions{
    height: 20%;
    width: 70%;
    margin:15px 0px 0px 15%;
    border-radius: 8px;
    padding: 5px 0px 0px 10px;
}
.question{
    border: 1px solid ;
    border-radius: 8px;
    padding: 0px 0px 0px 2px;
}
.answers{
    padding: 0px 0px 0px 20px;
}
.btn{
    margin:10px 0px 10px 42%;
}
.btn {
    width: 95px;
    height: 34px;
    border: 1px solid rgb(17, 16, 16);
    font-family: 'Cinzel', serif;
    font-size: 20px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 0;
    transition: 1s;
  }
  
  .btn::before, .btn::after {
    position: absolute;
    background: #fff7d8;
    z-index: -1;
    transition: 1s;
    content: '';
  }
  
  .btn::before {
    height: 34px;
    width: 69px;
  }
  
  .btn::after {
    width: 96px;
    height: 21px;
  }
  
  .noselect {
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
    border-top: #eee;
    border-left: #eee;
    border-right: #eee;
    border-bottom: #eee;
    background: #fff7d8;
  }
  .noselect:hover{
    background: var(--btncolor);
  }
  
  .btn:hover::before {
    width: 0px;
    background: var(--btncolor);
  }
  
  .btn:hover::after {
    height: 0px;
    background: var(--btncolor);
  }
  
  .btn:hover {
    background: var(--btncolor);
  }
.btnpage3{
    margin:10px 0px 10px 40%;
    background-color: red;
}

body {
    justify-content: center;
    align-items: center;
  }
  form {
    font-size: 20px;
    border:10px solid black;
    padding: 5px 10px;
    min-height: 100px;
    resize: both;
    background: #ffd73e33;
    border-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='100' height='100' viewBox='0 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3Cstyle%3Epath%7Banimation:stroke 5s infinite linear%3B%7D%40keyframes stroke%7Bto%7Bstroke-dashoffset:776%3B%7D%7D%3C/style%3E%3ClinearGradient id='g' x1='0%25' y1='0%25' x2='0%25' y2='100%25'%3E%3Cstop offset='0%25' stop-color='%232d3561' /%3E%3Cstop offset='25%25' stop-color='%23c05c7e' /%3E%3Cstop offset='50%25' stop-color='%23f3826f' /%3E%3Cstop offset='100%25' stop-color='%23ffb961' /%3E%3C/linearGradient%3E %3Cpath d='M1.5 1.5 l97 0l0 97l-97 0 l0 -97' stroke-linecap='square' stroke='url(%23g)' stroke-width='3' stroke-dasharray='388'/%3E %3C/svg%3E") 1;
  }
.showresult input{
    visibility: hidden;
}
.showresult input[type='radio']:after {
    width: 12px;
    height: 12px;
    border-radius: 12px;
    top: -1px;
    left: -1px;
    position: relative;
    background-color: rgb(234, 241, 233);
    content: '';
    display: inline-block;
    visibility: visible;
    border: 0.2px solid rgb(26, 27, 25)
}

.right input[type='radio']:checked:after {
    width: 12px;
    height: 12px;
    border-radius: 12px;
    top: -1px;
    left: -1px;
    position: relative;
    background-color: rgb(76, 175, 62);
    content: '';
    display: inline-block;
    visibility: visible;;
}
.wrong input[type='radio']:checked:after {
  width: 12px;
  height: 12px;
  border-radius: 12px;
  top: -1px;
  left: -1px;
  position: relative;
  background-color: red;
  content: '';
  display: inline-block;
  visibility: visible;
}