*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.box{
    position: relative;
    width: 515px;
    height: 507px;
    border: solid 0.1em rgb(56, 149, 183, 1);
}
.form{
    height: 328px;
    display: flex;
    justify-content: left;
    align-items: left;
    position: relative;
    border-radius: 8px;
    z-index: 10;
    padding: 0px 40px;
    flex-direction: column;
}
.inputBox1 span{
    padding-block: 9px;
    padding-inline: 25px;
    border: solid 0.1em blue;
    background-color: rgb(76, 175, 62);
    color: aliceblue;
    margin-right: 11px;
}
.inputBox1 i{
    font-size: large;
    color: red;
}
.inputBox2 i{
    font-size: large;
    color: red;
}
.inputBox4 i{
    font-size: large;
    color: red;
}
.selectbox i{
    font-size: large;
    color: red;
}
.input1{
    height: 39px;
    width: 300px;
    text-size-adjust: 100%;
    border-bottom: solid 0.2em rgb(56, 149, 183, 1);
    border-top: solid 0.2em rgb(56, 149, 183, 1);
    border-left: solid 0.2em rgb(56, 149, 183, 1);
    border-right: solid 0.2em rgb(56, 149, 183, 1);
}
.input2{
    height: 39px;
    margin: 10px 19px 10px;
}
.input3{
    height: 39px;
    border-bottom: solid 0.2em rgb(56, 149, 183, 1);
    border-top: solid 0.2em rgb(56, 149, 183, 1);
    border-left: solid 0.2em rgb(56, 149, 183, 1);
    border-right: solid 0.2em rgb(56, 149, 183, 1);
}
.inputBox2{
   padding: 0px 0px 6px 34px;
}
.inputBox2 input{
    visibility: hidden;
}
.inputBox2 input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: 24px;
    left: -1px;
    position: relative;
    background-color: rgb(234, 241, 233);
    content: '';
    display: inline-block;
    visibility: visible;
    border: 0.2px solid blue;
}

.inputBox2 input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: 24px;
    left: -1px;
    position: relative;
    background-color: rgb(76, 175, 62);
    content: '';
    display: inline-block;
    visibility: visible;
    border: 0.2px solid blue;
}
.inputBox4{
    padding: 15px 0px 6px 0px;
 }
.inputBox4 span{
    padding-block: 9px;
    padding-inline: 25px;
    border: solid 0.1em blue;
    background-color: rgb(76, 175, 62);
    color: aliceblue;
    margin-right: 11px;
}
.input4{
    height: 39px;
    width: 146px;
    text-size-adjust: 100%;
    border-bottom: solid 0.2em rgb(56, 149, 183, 1);
    border-top: solid 0.2em rgb(56, 149, 183, 1);
    border-left: solid 0.2em rgb(56, 149, 183, 1);
    border-right: solid 0.2em rgb(56, 149, 183, 1);
}
.inputBox5{
    padding: 15px 0px 6px 0px;
 }
.inputBox5 span{
    padding-block: 9px;
    padding-inline: 38px;
    border: solid 0.1em blue;
    background-color: rgb(76, 175, 62);
    color: aliceblue;
    margin-right: 16px;
}
.input5{
    height: 39px;
    width: 300px;
    text-size-adjust: 100%;
    border-bottom: solid 0.2em rgb(56, 149, 183, 1);
    border-top: solid 0.2em rgb(56, 149, 183, 1);
    border-left: solid 0.2em rgb(56, 149, 183, 1);
    border-right: solid 0.2em rgb(56, 149, 183, 1);
}
.gender{
    border: solid 0.1em blue;
    background-color: rgb(76, 175, 62);
    color: aliceblue;
    margin-right: 15px;
    padding-block: 9px;
    padding-inline: 30px;
    margin-left: -34px;
}
.boxbt{
    padding-top: 34px;
}
.boxbt :hover{
    opacity: 0.8;
}
.bt{
    position: relative;
    width: 141px;
    height: 44px;
    border: solid 0.1em blue;
    border-radius: 8px;
    cursor: pointer;
    background-color: rgb(19, 156, 31);
    color: aliceblue;
    margin-left: 171px;
}
.selectbox{
    padding: 23px 0px 6px 34px;
 }
.pk{
    border: solid 0.1em blue;
    background-color: rgb(76, 175, 62);
    color: aliceblue;
    margin-right: 11px;
    padding-block: 9px;
    padding-inline: 24px;
    margin-left: -34px;
}
.error{
    height: 100px;
    width: 100%;
    color: red;
    padding-left: 31px
}